<!-- header.html -->
<style>
    .auth-info {
        font-size: 0.9rem; 
        margin-bottom: 0; 
    }
</style>

{% if current_user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="py-2 d-flex justify-content-between align-items-center">
                <div class="auth-info">
                    Welcome, {{ current_user.username }}! <a href="/logout" class="btn btn-outline-primary btn-sm ml-2">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Fitness Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">My Training Schedule</a>
            <a class="nav-item nav-link" href="/add-workout">Add Workout</a>
        </div>
        <form class="form-inline ml-auto" action="/search" method="post">
            <input class="form-control mr-sm-2" type="search" placeholder="Enter workout type" aria-label="Search" name="search_term">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
